<EditForm Model="@customer" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label>Tax Identification Number:</label>
        <InputText @bind-Value="@customer.TaxId" class="form-control"></InputText>
        <ValidationMessage For="@(() => customer.TaxId)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Email Address:</label>
        <InputText @bind-Value="@customer.EmailAddress" class="form-control"></InputText>
        <ValidationMessage For="@(() => customer.EmailAddress)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Contact Number:</label>
        <InputText @bind-Value="@customer.ContactNumber" class="form-control"></InputText>
        <ValidationMessage For="@(() => customer.ContactNumber)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Address:</label>
        <InputTextArea @bind-Value="@customer.Address" class="form-control"></InputTextArea>
        <ValidationMessage For="@(() => customer.Address)"></ValidationMessage>
    </div>

    <button type="submit" class="btn btn-primary btn-block">@ButtonText</button>

</EditForm>

@code{
    [Parameter] public Customer customer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}