
<h3 class="card-title">Edit Model</h3>
<br />
<hr />

<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label>Name:</label>
        <InputText @bind-Value="@model.Name" class="form-control"></InputText>
        <ValidationMessage For="@(() => model.Name)"></ValidationMessage>
    </div>
    <button type="submit" class="btn btn-primary btn-block">@ButtonText</button>
    <BackToList ListUrl="models"></BackToList>

</EditForm>

@code{

    [Parameter] public Model model { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}